@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
}

i{
    cursor: pointer;
}
i:hover{
    color: #080808;
}
/*loader animation*/
.m{
    animation:m 1s infinite
}
@keyframes m{
    0%{
        opacity: 1;
    }
    50%{
       opacity: 0.5;
    }
    100%{
        opacity: 0.5;
    }
}

.a{
    animation:a 1s infinite
}
@keyframes a{
    0%{
        opacity: 0.5;
    }
    50%{
       opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}

.g{
    animation:g 1s infinite
}
@keyframes g{
    0%{
        opacity: 0.5;
    }
    50%{
       opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}